body {
    background-color:#ce3635;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}
  
.typewrite-title a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}

.hero-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.contact-wrapper {
    text-align: center;
}

.contact-hero {
    font-weight: 700;
    font-size: .8rem;
    margin: 0px;

} 

.contact-wrapper a {
    text-decoration: none;
    color: #fff;
} 